body { font-family: Arial, sans-serif; color: black; text-indent: 0; background-color: white }
th { text-align: center }
.ind0 { position: relative; margin-left: 0em; }
.ind1 { position: relative; margin-left: 2em; }

A:link { text-decoration: none; color: black }
A:active { text-decoration: none; color: black }
A:visited { text-decoration: none; color: black }
A:hover { color: red }
a.l:link { color: #0000EE; text-decoration: underline }
a.l:active { color: #EE0000; text-decoration: underline }
a.l:visited { color: #551A8B; text-decoration: underline }
a.l:hover { text-decoration: underline }
.cl { width: 3.2em; border: 1px solid grey }
.rt { text-align: right }
.lf { text-align: left }
.ct { text-align: center }
.sortablehead { color: 000000; background-color: ffffff; font-size: 8pt }
.pagetitle { font-weight: bold; font-size: 22pt }
.clr { color: 000000; background-color: ffffff }
.wht { color: 000000; background-color: f0f0f0 }
.uGreen { color: green }
.uRed { color: red }
.s0 { color: ffffff; background-color: cc0000 }
.s1 { color: ffffff; background-color: cc0000 }
.s2 { color: 000000; background-color: ff0000 }
.s3 { color: 000000; background-color: ff0000 }
.s4 { color: 000000; background-color: ff9900 }
.s5 { color: 000000; background-color: ff9900 }
.s6 { color: 000000; background-color: ffff00 }
.s7 { color: 000000; background-color: ffff00 }
.s8 { color: 000000; background-color: 00ff00 }
.s9 { color: 000000; background-color: 00ff00 }
.s10 { color: 000000; background-color: 00bb00 }

.sml { font-size: smaller }

.cov { color: green; font-weight: bold }
.uncov { color: red; font-weight: bold }
.excl { color: black; font-weight: bold }
.unr { color: black; font-weight: bold }
.prov { color: black; font-weight: bold }
.conf { color: black; font-weight: bold }
.deffont { color: black; font-weight: bold }
.modhdr { position: relative }

.repname { position: relative; font-weight: bold }
.titlename { position: relative; font-weight: bold; font-size: larger }

.note { font-size: smaller }
.subtree { position: relative; margin-left: 2em }
table { empty-cells: show }
.inst { position: relative; font-weight: bold; left: 1em }
